---
layout: page
title: "关于我"
description: "Hi，别来无恙，我是柯大师！"
<!-- header-img: "img/about-bg.jpg" -->
---

<!-- Language Selector -->
<select onchange="onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        始终保持一颗好奇心，勇敢的去尝试新鲜的事物。试一试，说不定就成了呢。
    </blockquote>
    ​每个优秀的人都会有一段沉默的时光。<br>
    在这段时间光里付出了很多努力，却得不到想要的结果；<br>
    我们把它叫扎根！<br>
    世人只见我绽放时的美丽，却不见还是种子时的我在土里度过的黑暗岁月。<br>
    那一段时光，是付出了很多努力，忍受孤独和寂寞，不抱怨，不诉苦，日后说起时，连自己都能被感动。<br>
    我曾经很害怕，怕什么？怕自己一无是处，怕自己没能力，最怕努力得不到收获。<br>
    无论结果怎么样，唯有持续扎根，做到问心无愧。
    <p style="text-align:right;">
        —— <a href="https://tougao.12371.cn/gaojian.php?tid=4718887">有一段沉默的时光叫扎根</a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Always maintain a curiosity, bravely try new things. Give it a shot, and you might just succeed.
    </blockquote>
    ​Every outstanding individual has a period of silence.<br>
    During this time, a lot of effort is put in, but the desired results are not achieved.<br>
    We call this rooting!<br>
    People only see the beauty of my blooming, but they don't see the dark years I spent in the soil when I was still a
    seed.<br>
    During that time, I put forth a lot of effort, endured loneliness and solitude, without complaints or grievances.
    When I talk about it later, even I am moved by it.<br>
    I used to be very afraid, afraid of what? Afraid that I was worthless, afraid that I was incapable, most afraid of
    not getting results from my efforts.<br>
    Regardless of the outcome, only continuous rooting can lead to a clear conscience.
    <p style="text-align:right;">
        —— <a href="https://tougao.12371.cn/gaojian.php?tid=4718887">A Silent Period Called Rooting</a>
    </p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index) {
        if (index == 0) {
            $zh.style.display = "block";
            $en.style.display = "none";
        } else {
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread" {% if site.duoshuo_username=="masterkeblog" %} data-thread-id="1187623191091085319" {% else %}
        data-thread-key="{{site.duoshuo_username}}/about" {% endif %} data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}" />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = { short_name: _user };
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript'; ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}